<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRandomColoursService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59844/RandomColoursService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRandomColoursService"
                contract="RandomColoursServiceReference.IRandomColoursService"
                name="BasicHttpBinding_IRandomColoursService" />
        </client>
    </system.serviceModel>
</configuration>